*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: black;
  }
  
  .heading{
    color: whitesmoke;
    margin-left: 20px;
  }
  
  input{
    background-color: black;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    font-size: 17px;
    height: 40px;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 8px;
  }
  
  button{
    padding: 9px 11px;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .container{
    margin-left: 20%;
    margin-top: 10%;
  }